<VirtualHost *:80>
  ServerName {{ project_name }}.local
  ServerAlias www.{{ project_name }}.local

  DocumentRoot /var/www/{{ project_name }}/frontend/web

  <Directory "/var/www/{{ project_name }}/frontend/web">
      Options Indexes MultiViews FollowSymLinks
      AllowOverride All
      Order allow,deny
      Allow from all
  </Directory>

  php_flag display_startup_errors on
  php_flag display_errors on
  php_flag html_errors on
  php_flag log_errors on
  php_value error_log  /var/log/apache2/{{ project_name }}-phperrors.log

  LogLevel debug
  ErrorLog /var/log/apache2/{{ project_name }}-error.log
  CustomLog /var/log/apache2/{{ project_name }}-access.log combined
</VirtualHost>
